ul {
  list-style-type: none;
  padding: 10px;
  margin: 5px 0;
}

ul li {
  border-bottom: 1px solid black;
  padding: 5px;
  margin: 1px 0;
}

p {
  padding: 1px;
  margin: 1px 0;
}

button {
  background-color: lightskyblue;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 500;
}