<div class="home-container">

  <h1 *ngIf="allMoments.length > 0">Todos os momentos compartilhados</h1>

  <div class="search-container">
    <form>
      <fa-icon [icon]="faSearch"></fa-icon>
      <input type="text" placeholder="Busque por um momento..." (input)="searchMoment($event)">
    </form>
  </div>

  <ul *ngIf="allMoments.length > 0; else noMoments">
    <div class="moments-container">
      <li *ngFor="let moment of allMoments" class="moment">
        <img src="{{ apiUrl }}/uploads/{{ moment.image }}" alt="{{ moment.title }}">
        <h3>Título: {{ moment.title }}</h3>
        <p class="date">Data: {{ moment.created_at | date:'dd/MM/yyyy' }}</p>
        <p>Comentários: {{ moment.comments!.length }} </p>
        <p><a routerLink="moments/{{ moment.id }}">Detalhes.</a></p>
      </li>
    </div>
  </ul>

  <ng-template #noMoments>
    <h1>Nenhum momento encontrado.</h1>
  </ng-template>
</div>